[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=SwingCopters
Exec=SwingCopters
Name=SwingCopters
# translation example:
# your app name in German locale (de)
Name[de]=SwingCopters

